#root {
  width: 100%;
  max-width: 500px;
  margin: 3em auto;
  padding: 3em;
  background-color: rgb(243, 248, 255);
  border-radius: 10px;
}

ul{
  padding: 0;
  margin-bottom: 3em;
}

ul li span input{
  margin: 0 1em;
}

h3{
  text-align: center;
  padding: 1em 0;
}

.todo-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  margin: 1em 0;
  border: 1px solid #1d227a;
  border-radius: 10px;
}

.todo-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.delete-edit {
  display: flex;
  gap: 1rem;
}

.delete-edit a {
  text-decoration: none;
  cursor: pointer;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
}

#add{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

#add input{
  width: 50%;
  padding: 0.6em 1.2em;
  border: 2px solid rgb(201, 222, 255);
  border-radius: 30px;
  font-size: 1em;
  margin-right: 1em;
}

#add input:focus{
  outline: none;
}

Footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

footer p{
  font-weight: 700;
  margin: 0 1em;
}




