#root {
  width: 100%;
  max-width: 500px;
  margin: 3em auto;
  padding: 3rem ;
  background-color: rgb(243, 248, 255);
  border-radius: 10px;
}

#add{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 30px;
  padding-left: 1em;
  margin: 2em;
}
#add input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1em;
}

ul{
  padding: 0;
  margin-bottom: 3em;
}

ul li span input{
  margin: 0 1em;
}

h3{
  text-align: center;
  padding: 1em 0;
}

.todo-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  margin: 1em 0;
  border: 1px solid #1d227a;
  border-radius: 10px;
}

.todo-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.delete-edit {
  display: flex;
  gap: 1rem;
}

.delete-edit a {
  text-decoration: none;
  cursor: pointer;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
}

Footer{
  display: flex;
  justify-content: center;
  align-items: center;
}




